apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: memorias
  name: memorias
spec:
  replicas: 1
  selector:
    matchLabels:
     app: memorias        
  template:
    metadata:            
      labels:
        app: memorias        
    spec:
      containers:
        - name: memorias
          image: cientopolis/memorias:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
              protocol: TCP     
          env:
            - name: DB_HOST
              value: "mongo-memorias-0.mongo-memorias"
            - name: DB
              value: "lifiometro"
            - name: DEBUG
              value: "false"
            - name: MAILERSEND_APIKEY
              value: "someapikey"
            - name: EMAILS_SENDER
              value: "someuser@somedomain.com"
            - name: ERROR_EMAILS_TO
              value: "someuser@somedomain.com"
            - name: SUPERADMIN_EMAIL
              value: "someuser@somedomain.com"

